
   
h1 {padding-left: 25%; background-color: black; font-size: 3em; color: white;}
   


h2 {padding-left: 25%;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {font-size: 1.5em;}

img {margin-left: 25%; }










